<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Eligibility</title>
</head>
<body>
    {% if mess %}
       <h2>{{ mess }}</h2>
    {% endif %}
    <form name = "login" action = "/eligibility/" method = "post">
        {% csrf_token %}
        <table width = "60%" align = "center" border = "1">
            <tr>
                <td>Username:</td>
                <td><input type = "text" name = "username" /></td>
            </tr>
             <tr>
                <td>Email:</td>
                <td><input type = "text" name = "email" /></td>
            </tr>
            <tr>
                <td>Companyname:</td>
                <td><input type = "text" name = "c_name" /></td>
            </tr>
               <tr>
                <td>Earn Amount:</td>
                <td><input type = "text" name = "e_amount" /></td>
            </tr>
               <tr>
                <td>Loan Amount:</td>
                <td><input type = "text" name = "l_amount" /></td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><input type = "text" name = "year" /></td>
            </tr>
            <tr>
                <td colspan = "2" align = "center"><button type = "submit">check</button></td>
                <!--<td colspan = "2" align = "center"><button type = "button" onclick = "location.href = '/register/';">Register</button></td>-->
            </tr>
        </table>
    </form>
</body>
</html>
